# Logs
logs
*.log
npm-debug.log*

#Web storm
.idea

# Babel ES6 compiles files
lib

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

#coverage files
coverage/

#Mac files
.DS_Store